<div class="card d-flex mx-auto w-75">
    <p>Hello this is your first phase workout.
        INSTRUCTIONS BELLOW
    </p>

    <ul>
        <li>Exercise 1 </li>
        <li>Exercise 2 </li>
        <li>Exercise 3</li>
    </ul>

    <button>Start the timer</button>
    <!-- insert timer component, maybe with different styles -->


    <button>Finnish Workout</button>
    <!-- after workout is finnished it should be saved in an object, personal records/history. Would be used later on in a ;possiblle statistics tab / user details - number of workout, last time workout, streak etc. -->
    
</div>